.statements-container {
    padding-top: 15px;
    .sentence {
        font-family: sans-serif;
        font-weight: bold;
        font-size: large;
        cursor: pointer;
    }
    .word {
        &.highlighted {
            background-color: yellow;
        }
        &.underlined {
            text-decoration: underline;
        }
        &.highlight:hover {
            background-color: red;
        }
        &.underline:hover {
            text-decoration: underline;
        }
        .character {
            &.colored {
                color: blue;
            }
            &.divider {
                box-shadow: 2px 0 0 0 red;
            }
            &.highlight:hover {
                background-color: skyblue;
            }
            &.divide:not(.last):hover {
                background-color: transparent;
                box-shadow: 1px 0 0 0;
            }
        }
    }
}

h2.question {
    text-decoration: underline;
}

span {
    user-select: none;
}